.select{
    position: relative;
    min-width: 200px;
}

.arrow{
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098A9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

select{
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}

select:required:invalid{
      color: #5A667F;
}

option{
    color: #223254;
}

option[value=""][disabled]{
    display: none;
}

option:focus{
    outline: none;
    border-color: #0077ff;
    box-shadow: 0 0 0 3px rgba(#0077ff, 0.3);
}

option:hover + .arrow{
    stroke: #0077ff;
}