h1{
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    text-align: center;
    color: #693133;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}