*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DCAD8A;
    gap: 5%;
}

.App-header img{
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1300px) {
    .App-header img{
        display: none;
    }
}

.App-header img:last-child{
    transform: scaleX(-1);
    right: 0;
}

.App-header img:first-child{
    left: 0;
}